# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables and secrets
.env
.env.*

# Temporary Uploads
temp_uploads/
uploads/

# System files
.DS_Store

# Debug and backup files
debug.log
app/static/data/fooocus_styles.csv.bak
app/static/data/fooocus_styles.csv.bak2
app/static/data/new_styles.csv
app/.DS_Store
